body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

hr {
    width: 100%;
    border: solid 1px red;
    margin: auto;
}
.col-hr {
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 548px){
    .row-header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.3em;
    }

    .box-logo {
        width: 25%;
        padding-left: 0;
    }

    .logo {
        width: 100%;
        margin-top: 15px;
    }

    .box-title {
        width: 75%;
        margin: 0;
        padding: 0;
    }

    .title-super {
        font-size: 20px;
    }

    .title-body {
        font-size: 15px;
    }
}